<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Crystal_Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Crystal_Editor.Properties.Settings>
            <setting name="ColorTheme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="EntryPrefix" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="DeveloperMode" serializeAs="String">
                <value>User</value>
            </setting>
            <setting name="CollectionPrefix" serializeAs="String">
                <value>Show</value>
            </setting>
        </Crystal_Editor.Properties.Settings>
    </userSettings>
</configuration>